<section>
    <div class="block no-padding  gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner2">
                        <div class="inner-title2">
                            <h3>Contact</h3>
                            <span>Keep up to date with the latest news</span>
                        </div>
                        <div class="page-breacrumbs">
                            <ul class="breadcrumbs">
                                <li><a routerLink="/" title="">Home</a></li>
                                <li><a href="#" title="">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block">
        <div class="container">
             <div class="row">
                 <div class="col-lg-12 column">
                     <div class="contact-textinfo style2">
                         <h3>Informations de contact</h3>
                         <ul>
                             <li><i class="la la-map-marker"></i><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, aspernatur! </span></li>
                             <li><i class="la la-phone"></i><span>Téléphone : 0625365473</span></li>
                             <li><i class="la la-fax"></i><span>Fix : 0535669932</span></li>
                             <li><i class="la la-envelope-o"></i><span>Email : <a href="#" class="__cf_email__" >info@bricolma.com</a></span></li>
                         </ul>
                     </div>
                </div>
             </div>
        </div>
    </div>
</section>
