<div class="logreg-forms">
    <form class="form-signin" #login="ngForm" (ngSubmit)="onLogin(login.value)">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fa fa-facebook-f"></i> Sign in
                    with Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fa fa-google"></i> Sign in with
                    Google+</span> </button>
        </div>
        <p style="text-align:center"> OR </p>
        <input type="email" class="form-control" placeholder="Email address" required="true" [(ngModel)]="user.email"
            #email="ngModel" name="user.email" email="true" />
        <div *ngIf="(email.dirty || email.touched) && email.invalid">
            <p class="alert alert-danger" *ngIf="email.errors.required">Email of user should not
                be null</p>
            <p class="alert alert-danger" *ngIf="email.errors.email">This is invalid email, please repeat
                valid email ....</p>
        </div>

        <br />
        <input type="password" class="form-control" placeholder="Password" required="true" [(ngModel)]="user.passowrd"
            #password="ngModel" name="user.password" minlength="6" />

        <div *ngIf="(password.dirty || password.touched) && password.invalid">
            <p class="alert alert-danger" *ngIf="password.errors.required">Password of user should not
                be null</p>
                <p class="alert alert-danger" *ngIf="password.errors.minlength">Password of user should contains at least 6 characters</p>
        </div>
        <br />
        <button class="btn btn-success btn-block" [disabled]="login.invalid"><i class="fa fa-sign-in"></i> Sign in</button>
        <a href="#" id="forgot_pswd">Forgot password?</a>
        <hr>
        <a [routerLink]="['/register']" class="btn btn-primary btn-block new-account">
            <i class="fa fa-user-plus"></i> Sign up New Account
        </a>
    </form>
</div>