<section>
    <div class="block no-padding">
        <div class="container">
             <div class="row no-gape">
                 <aside class="col-lg-3 column border-right">
                     <div class="widget">
                        <profile-dashboard></profile-dashboard>
                     </div>
                 </aside>
                 <div class="col-lg-9 column">
                     <div class="padding-left">
                        <devenir-bricoleur [status]="status"></devenir-bricoleur>
                     </div>
                     <div class="heading">
                        <h2>Félicitation, vous étes maintenant un bricoleur</h2>
                        <span>pour compléter votre profil, <a href="#">cliquer ici</a></span>
                    </div>
                    
                </div>
             </div>
        </div>
    </div>
</section>