<section>
  <div class="block no-padding  gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="inner2">
            <div class="inner-title2">
              <h3>Qui sommes-nous ? </h3>
              <span>Bricolma en quelques mots :</span>
            </div>
            <div class="page-breacrumbs">
              <ul class="breadcrumbs">
                <li><a [routerLink]="['/']">Accueil</a></li>
                <li><a>A propos </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="about-us">
            <div class="row">
              <div class="col-lg-12">
                <h3>A propos de Bricolma</h3>
              </div>
              <div class="col-lg-7">
                <p>On a toujours besoin d’un coup de main à la maison pour réaliser de petits travaux ou changer la déco
                  ! Trouvez rapidement et à moindre frais un pro du bricolage, en faisant appel aux bricoleurs de
                  Bricolma. Compétents, réactifs et fiables, nos bricoleurs sont vérifiés et notés. Enfin, un service
                  clé
                  en main pour intervenir chez vous en toute sécurité : publiez, réservez et admirez le travail !. </p>
                <p>.</p>
              </div>
              <div class="col-lg-5">
                <img src="assets/images/bg-bricoleur.png" alt="">
              </div>
              <div class="col-lg-12">
                <p>TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT. </p>
                <p>TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT.</p>
              </div>
            </div>
            <div class="tags-share">
              <div class="share-bar">
                <a href="#" title="" class="share-fb">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="#" title="" class="share-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
                <a href="#" title="" class="share-google">
                  <i class="la la-google"></i>
                </a>
                <span>Partager !</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block remove-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="our-services">
            <div class="row">
              <div class="col-lg-12">
                <h2>Nos Services</h2>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-clock-o"></i>
                  <div class="service-info">
                    <h3>Publier un Job</h3>
                    <p>Trouver un emploi par le partage de votre expérience
                      Text Text Text Text Text Text Text Text Text Text Text
                      Text Text Text Text Text Text Text Text Text Text Text .
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-search"></i>
                  <div class="service-info"><h3>CV Search</h3>
                    <p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-user"></i>
                  <div class="service-info"><h3>Recruiter Profiles</h3>
                    <p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-codepen"></i>
                  <div class="service-info"><h3>Temp Search</h3>
                    <p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-tv"></i>
                  <div class="service-info"><h3>Display Jobs</h3>
                    <p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <i class="la la-diamond"></i>
                  <div class="service-info"><h3>For Agencies</h3>
                    <p>Duis a tristique lacus. Donec vehicula ante id lorem venenatis posuere. Morbi in lectus.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="stats-sec style2">
            <div class="row">
              <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                <div class="stats">
                  <span>18</span>
                  <h5>Jobs Posted</h5>
                </div>
              </div>
              <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                <div class="stats">
                  <span>38</span>
                  <h5>Jobs Filled</h5>
                </div>
              </div>
              <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                <div class="stats">
                  <span>67</span>
                  <h5>Companies</h5>
                </div>
              </div>
              <div class="col-lg-3  col-md-3 col-sm-6 col-xs-6">
                <div class="stats">
                  <span>92</span>
                  <h5>Members</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="block remove-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="our-services">
            <div class="row">
              <div class="col-lg-12"><h2>L'équipe de travail</h2></div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <img src="assets/images/profile-avatar.jpg" alt="admin" class="comment-avatar">
                  <div class="service-info"><h3>Fadili Hamid</h3>
                    <p>Full-stack Developer .</p>
                    <br>
                    <div class="share-bar">
                      <a href="#" title="" class="share-fb">
                        <i class="fa fa-linkedin"></i>
                      </a>
                      <a href="#" title="" class="share-twitter">
                        <i class="fa fa-github"></i>
                      </a>
                      <a href="#" title="" class="share-google">
                        <i class="la la-google"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <img src="assets/images/profile-avatar.jpg" alt="admin" class="comment-avatar">
                  <div class="service-info"><h3>Chahboun Mohamed</h3>
                    <p>Front-end Developer.</p>
                    <br>
                    <div class="share-bar">
                      <a href="#" title="" class="share-fb">
                        <i class="fa fa-linkedin"></i>
                      </a>
                      <a href="#" title="" class="share-twitter">
                        <i class="fa fa-github"></i>
                      </a>
                      <a href="#" title="" class="share-google">
                        <i class="la la-google"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <img src="assets/images/profile-avatar.jpg" alt="admin" class="comment-avatar">
                  <div class="service-info"><h3>Said Maghrani</h3>
                    <p>Back-end Developer.</p>
                    <br>
                    <div class="share-bar">
                      <a href="#" title="" class="share-fb">
                        <i class="fa fa-linkedin"></i>
                      </a>
                      <a href="#" title="" class="share-twitter">
                        <i class="fa fa-github"></i>
                      </a>
                      <a href="#" title="" class="share-google">
                        <i class="la la-google"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <img src="assets/images/profile-avatar.jpg" alt="admin" class="comment-avatar">
                  <div class="service-info"><h3>Maroua Jalil</h3>
                    <p>Back-end Developer.</p>
                    <br>
                    <div class="share-bar">
                      <a href="#" title="" class="share-fb">
                        <i class="fa fa-linkedin"></i>
                      </a>
                      <a href="#" title="" class="share-twitter">
                        <i class="fa fa-github"></i>
                      </a>
                      <a href="#" title="" class="share-google">
                        <i class="la la-google"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <img src="assets/images/profile-avatar.jpg" alt="admin" class="comment-avatar">
                  <div class="service-info"><h3>Imane Slassi</h3>
                    <p>Back-end Developer .</p>
                    <br>
                    <div class="share-bar">
                      <a href="#" title="" class="share-fb">
                        <i class="fa fa-linkedin"></i>
                      </a>
                      <a href="#" title="" class="share-twitter">
                        <i class="fa fa-github"></i>
                      </a>
                      <a href="#" title="" class="share-google">
                        <i class="la la-google"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <img src="assets/images/profile-avatar.jpg" alt="admin" class="comment-avatar">
                  <div class="service-info"><h3>Oumaima El Fezzazi</h3>
                    <p>Back-end Developer .</p>
                    <br>
                    <div class="share-bar">
                      <a href="#" title="" class="share-fb">
                        <i class="fa fa-linkedin"></i>
                      </a>
                      <a href="#" title="" class="share-twitter">
                        <i class="fa fa-github"></i>
                      </a>
                      <a href="#" title="" class="share-google">
                        <i class="la la-google"></i>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="service">
                  <img src="assets/images/profile-avatar.jpg" alt="admin" class="comment-avatar">
                  <div class="service-info"><h3>Mohamed Fazazi</h3>
                    <p>Front-end Developer .</p>
                    <br>
                    <div class="share-bar">
                      <a href="#" title="" class="share-fb">
                        <i class="fa fa-linkedin"></i>
                      </a>
                      <a href="#" title="" class="share-twitter">
                        <i class="fa fa-github"></i>
                      </a>
                      <a href="#" title="" class="share-google">
                        <i class="la la-google"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

