<section>
    <div class="block no-padding">
        <div class="container">
            <div class="row no-gape">
                <aside class="col-lg-3 column border-right">
                    <div class="widget">
                        <profile-dashboard></profile-dashboard>
                    </div>
                </aside>
                <div class="col-lg-9 column">
                    <div class="padding-left">
                        <devenir-bricoleur [status]="status"></devenir-bricoleur>
                                <div class="profile-title">
                                    <h3>Mon Profile</h3>
                                </div>
                                <div class="profile-form-edit">
                                    <form #registerForm="ngForm" (ngSubmit)="onSubmit()">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span class="pf-title">Votre Prénom</span>
                                        <div class="pf-field">
                                            <input type="text" name="first-name" placeholder="Votre Prénom"
                                                [(ngModel)]="updatedUser.firstName">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Votre Nom</span>
                                        <div class="pf-field">
                                            <input type="text" name="last-name" placeholder="Votre Nom"
                                                [(ngModel)]="updatedUser.lastName">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Username</span>
                                        <div class="pf-field">
                                            <input type="text"  name="username" placeholder="Username" disabled
                                                [(ngModel)]="updatedUser.username">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <span class="pf-title">Date de naissance</span>
                                        <div class="pf-field">
                                            <input type="date" name="birthday" [ngModel]="updatedUser.birthday | date:'yyyy-MM-dd'" (ngModelChange)="updatedUser.birthday = $event">
                                        </div>
                                    </div>
                                    <h3>Contact</h3>
                                  
                                    <div class="col-lg-6">
                                        <span class="pf-title">N° de téléphone</span>
                                        <div class="pf-field">
                                            <input type="text" name="phone" placeholder="+2120 000 000 000" [(ngModel)]="updatedUser.phone" required
                                            #phone="ngModel">
                                        </div>
                                    </div>
                                 
                                    <div class="col-lg-6">
                                        <span class="pf-title">Email</span>
                                        <div class="pf-field">
                                            <input type="email" name="email" placeholder="test@gmail.com" [(ngModel)]="updatedUser.email" required #email="ngModel">
                                        </div>
                                    </div>
                                  
                                    <div class="col-lg-6 offset-md-0" *ngIf="phone.touched && phone.invalid">
                                        <span class="alert alert-danger" *ngIf="phone.errors.required">phone of user should not be null</span>
                                    </div>
                                    <div class="col-lg-6 offset-md-6" *ngIf="email.touched && email.invalid">
                                        <span class="alert alert-danger" *ngIf="email.errors.required">email of user should not be null</span>
                                    </div>
                              

                                    <div class="col-lg-12">
                                        <span class="pf-title">Adresse</span>
                                        <div class="pf-field">
                                            <input type="text" name="adresse" placeholder="Adresse"
                                                [(ngModel)]="updatedUser.address">
                                        </div>
                                    </div>

                                    <div class="col-lg-12">
                                        <button type="submit" (click)="infobrico()" [disabled]="!registerForm.valid">Suivant</button>
                                    </div>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>