<section class="overlape">
    <div class="block no-padding">
        <div data-velocity="-.1" style="background: url(assets/images/mslider1.jpg) repeat scroll 50% 422.28px transparent;" class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
        <div class="container fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-header">
                        <h3>Choisissez les meilleur bricoleur</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="block">
        <div class="container">
                <div class="row no-gape">
                <aside class="col-lg-3 column">
                    <div class="widget">
                        <div class="search_widget_job">
                            <div class="field_w_search">
                                <input name="keyword" [(ngModel)]="currentKeyword" (input)='onKeywordChanged($event.target.value)' type="text" placeholder="Search Keywords">
                                <i class="la la-search"></i>
                            </div><!-- Search Widget -->
                            <div class="field_w_search">
                                <select name="city" id="ville" [(ngModel)]="currentCity" (change)="onCitySelected($event.target.value)">
                                    <option>Tous les villes</option>
                                        <option>Fes</option>
                                        <option>Aoufous</option>
                                        <option>Arbaoua
                                        <option>Arfoud (Erfoud)</option>
                                        <option>Asilah</option>
                                        <option>Assahrij</option>
                                        <option>Bab Berred</option>
                                        <option>Bab Taza</option>
                                        <option>Ben Ahmed</option>
                                        <option>Beni Chiker</option>
                                        <option>Beni Ansar</option>
                                        <option>Beni Mellal</option>
                                        <option>Ben Slimane</option>
                                        <option>Ben Taieb</option>
                                        <option>Ben Yakhlef</option>
                                        <option>Berkane</option>
                                        <option>Berrechid</option>
                                        <option>Bhalil</option>
                                        <option>Bir GanBirdus</option>
                                        <option>Bir Lehlou</option>
                                        <option>Bni Bouayach</option>
                                        <option>Bni Drar</option>
                                        <option>Bni Hadifa</option>
                                        <option>Bni Tadjite</option>
                                        <option>Bouarfa</option>
                                        <option>Bou Craa (Bo Craa)</option>
                                        <option>Bouanane</option>
                                        <option>Boudnib</option>
                                        <option>Boufakrane</option>
                                        <option>Bouguedra</option>
                                        <option>Bouizakarne</option>
                                        <option>Boujad</option>
                                        <option>Boujdour (Cabo Bojador)</option>
                                        <option>Bouknadel</option>
                                        <option>Boulemane</option>
                                        <option>Bouskoura</option>
                                        <option>Bouznika</option>
                                        <option>Bradia</option>
                                        <option>Brikcha</option>
                                        <option>Casablanca ( Dar al-Beïda)</option>
                                        <option>Chefchaouen</option>
                                        <option>Chemaia</option>
                                        <option>Chichaoua</option>
                                        <option>Dakhla</option>
                                        <option>Dar Gueddari</option>
                                        <option>Dar Kebdani</option>
                                        <option>Demnate</option>
                                        <option>Douar Bel Aguide (Bel air)</option>
                                        <option>Driouch</option>
                                        <option>El Aioun Sidi Mellouk</option>
                                        <option>El Guerdane</option>
                                        <option>El Hajeb</option>
                                        <option>El Hanchane</option>
                                        <option>El Jadida ( Mazagan)</option>
                                        <option>Elkbab</option>
                                        <option>El Menzel</option>
                                        <option>El Ouatia</option>
                                        <option>Erfoud (o Arfoud)</option>
                                        <option>Errachidia (Ksar es-Souk)</option>
                                        <option>Essaouira ( Mogador)</option>
                                        <option>Farcia</option>
                                        <option>Fès</option>
                                        <option>Figuig</option>
                                        <option>Fnideq</option>
                                        <option>Fquih Ben Salah</option>
                                        <option>Er-Rich</option>
                                        <option>Guelmim</option>
                                        <option>Goulmima</option>
                                        <option>Guelta Zemmour</option>
                                        <option>Guerguerat</option>
                                        <option>Guisser</option>
                                        <option>Guercif</option>
                                        <option>Had Kourt</option>
                                        <option>Hagunia</option>
                                        <option>Haj Kaddour</option>
                                        <option>Harhoura</option>
                                        <option>Ihddaden</option>
                                        <option>Ifrane</option>
                                        <option>Imilchil</option>
                                        <option>Imilili</option>
                                        <option>Imintanoute</option>
                                        <option>Imouzzer Kandar</option>
                                        <option>Immouzer Marmoucha</option>
                                        <option>Inezgane</option>
                                        <option>jerada</option>
                                        <option>Jorf</option>
                                        <option>Jorf El Melha</option>
                                        <option>Jemâa Sahim</option>
                                        <option>Kassita</option>
                                        <option>Kattara</option>
                                        <option>Kénitra ( Port-Lyautey)</option>
                                        <option>Kehf Nsour</option>
                                        <option>Khémisset</option>
                                        <option>Khemis Sahel</option>
                                        <option>Khemis Zemamra (Doukkala)</option>
                                        <option>Khenichet</option>
                                        <option>Khénifra</option>
                                        <option>Khouribga</option>
                                        <option>Ksar el-Kébir</option>
                                        <option>Laayoune (El Aaiún)</option>
                                        <option>Lagouira ( Cabo Blanco)</option>
                                        <option>Lalla Mimouna</option>
                                        <option>Larache</option>
                                        <option>Lixus</option>
                                        <option>Lqliâa</option>
                                        <option>Madagh</option>
                                        <option>Marrakech</option>
                                        <option>Martil</option>
                                        <option>Mechra Bel Ksiri</option>
                                        <option>Mediek ou M'diq</option>
                                        <option>Mediouna</option>
                                        <option>Mehdia</option>
                                        <option>Meknès</option>
                                        <option>Melloussa</option>
                                        <option>Midelt</option>
                                        <option>Mirleft</option>
                                        <option>Mohammédia ( Fédala)</option>
                                        <option>Moqrisset</option>
                                        <option>Moulay Ali Cherif</option>
                                        <option>Moulay Bousselham</option>
                                        <option>Moulay Idriss Zerhoun</option>
                                        <option>M'rirt</option>
                                        <option>nador</option>
                                        <option>nhima</option>
                                        <option>Ouarzazate</option>
                                        <option>Oualidia</option>
                                        <option>Ouezzane</option>
                                        <option>Oujda</option>
                                        <option>Oukaimeden</option>
                                        <option>Oulad Amrane</option>
                                        <option>Oulad Ayad</option>
                                        <option>Oulad Berhil</option>
                                        <option>Oulad Frej</option>
                                        <option>Oulad Ghadbane</option>
                                        <option>Oulad H Riz Sahel</option>
                                        <option>Oulad M'Rah</option>
                                        <option>Oulad M Barek</option>
                                        <option>Oulad Teïma</option>
                                        <option>Oulad Zbair</option>
                                        <option>Ouled Tayeb</option>
                                        <option>Ouled Youssef</option>
                                        <option>Oulmès</option>
                                        <option>Ounagha</option>
                                        <option>Rabat (Ribat al-Fath)Ras El Ain</option>
                                        <option>Ras El Ma</option>
                                        <option>Ribate El Kheir</option>
                                        <option>Rissani ( Sijilmassa)</option>
                                        <option>Sabaa Aiyoun</option>
                                        <option>Safi</option>
                                        <option>Saidia</option>
                                        <option>Salé</option>
                                        <option>Sebt El Maârif</option>
                                        <option>Sebt Gzoula</option>
                                        <option>Sebt Jahjouh</option>
                                        <option>Sefrou</option>
                                        <option>Settat ( Chaouia )</option>
                                        <option>Sid Zouin</option>
                                        <option>Sidi Abdallah Ghiat</option>
                                        <option>Sidi Addi</option>
                                        <option>Sidi Ali Ban Hamdouche</option>
                                        <option>Sidi Allal El Bahraoui</option>
                                        <option>Sidi Allal Tazi</option>
                                        <option>Sidi Bou Othmane</option>
                                        <option>Sidi Boubker</option>
                                        <option>Sidi Jaber</option>
                                        <option>Sidi Kacem ( Chérarda )</option>
                                        <option>Sidi Lyamani</option>
                                        <option>Sidi Rahhal</option>
                                        <option>Sidi Slimane</option>
                                        <option>Sidi Smaïl</option>
                                        <option>Sidi Taibi</option>
                                        <option>Sidi Yahya el Gharb</option>
                                        <option>Skhirat</option>
                                        <option>Smara (Semara)</option>
                                        <option>Souq Larb'a al Gharb</option>
                                        <option>Taddert</option>
                                        <option>Tafetachte</option>
                                        <option>Tafrisset</option>
                                        <option>Taghjijt</option>
                                        <option>Tahala</option>
                                        <option>Tahannaout</option>
                                        <option>Tainaste</option>
                                        <option>Taliouine</option>
                                        <option>Talmest</option>
                                        <option>Talssint</option>
                                        <option>Tanger ( Tangerois )</option>
                                        <option>Tan-Tan</option>
                                        <option>Tamallalt</option>
                                        <option>Tamanar</option>
                                        <option>Tameslouht</option>
                                        <option>Taourirte</option>
                                        <option>Tarfaya (Cabo Juby)</option>
                                        <option>Taroudannt</option>
                                        <option>Tata</option>
                                        <option>Taza</option>
                                        <option>Taznakht</option>
                                        <option>Télouet</option>
                                        <option>Temara</option>
                                        <option>Temsia</option>
                                        <option>Tétouan</option>
                                        <option>Thar Es-Souk</option>
                                        <option>Tichla</option>
                                        <option>Tidass</option>
                                        <option>Tifariti</option>
                                        <option>Tiflet</option>
                                        <option>Tingdad</option>
                                        <option>Tinghir</option>
                                        <option>Tinmel</option>
                                        <option>Tiznit</option>
                                        <option>Tiztoutine</option>
                                        <option>Torres de Alcala</option>
                                        <option>Tifelt</option>
                                        <option>Volubilis ( Oualili)</option>
                                        <option>Youssoufia</option>
                                        <option>Zagora</option>
                                </select>
                                <i class="la la-map-marker"></i>
                            </div>
                            <div class="field_w_search">
                                <select name="categories" [(ngModel)]="currentCat" (change)="onCategorySelected($event.target.value)">
                                    <option>Tous les catégories</option>
                                    <option [ngValue]="cat.title" *ngFor="let cat of categories">{{cat.title}}</option>
                                </select>
                                <i class="la la-folder"></i>
                            </div>
                            <div class="field_w_search">
                                <select name="services" [(ngModel)]="currentService" (change)="onServiceSelected($event.target.value)">
                                    <option>Tous les services</option>
                                    <option [ngValue]="service.title" *ngFor="let service of currentServices">{{service.title}}</option>
                                </select>
                                <i class="la la-toolbox"></i>
                            </div>
                            <div class="field_w_search">
                                <select name="gender" [(ngModel)]="currentGender" (change)="onGenderSelected($event.target.value)">
                                    <option>Tous les sexes</option>
                                    <option value="Female">Femme</option>
                                    <option value="Male">Homme</option>
                                </select>
                                <i class="la la-transgender"></i>
                            </div>
                        </div>
                    </div>
                </aside>
                <div class="col-lg-9 column">
                    <div class="emply-resume-sec">
                        <div *ngFor="let handyman of currentHandymen" class="emply-resume-list square">
                            <div class="emply-resume-thumb">
                                <img [src]="handyman.photo ? 'http://localhost:8080/load/image/'+handyman.photo : '../assets/images/profile-avatar.jpg'">
                            </div>
                            <div class="emply-resume-info">
                                <h3><a href="#">{{handyman.firstName}} {{handyman.lastName}}</a></h3>
                                <span>{{handyman.jobTitle}}</span>
                                <p><i class="la la-map-marker"></i>{{handyman.address.city}}</p>
                            </div>
                        </div>
                        <!--
                        <div class="pagination">
                            <ul>
                                <li class="prev"><a href=""><i class="la la-long-arrow-left"></i> Prev</a></li>
                                <li><a href="">1</a></li>
                                <li class="active"><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><span class="delimeter">...</span></li>
                                <li><a href="">14</a></li>
                                <li class="next"><a href="">Next <i class="la la-long-arrow-right"></i></a></li>
                            </ul>
                        </div>
                        -->
                    </div>
                </div>
                </div>
        </div>
    </div>
</section>