<section>
    <div class="block no-padding  gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner2">
                        <div class="inner-title2">
                            <h3>Register</h3>
                            <span>Create an account and welcome in our Platform</span>
                        </div>
                        <div class="page-breacrumbs">
                            <ul class="breadcrumbs">
                                <li><a href="#" title="">Home</a></li>
                                <li><a href="#" title="">Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="block remove-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="account-popup-area signup-popup-box static">
                        <div class="account-popup">
                            <div *ngIf="errors.length > 0">
                                <p class="alert alert-danger" *ngFor="let error of errors">{{error}}</p>
                            </div>
                            <div *ngIf="first_name.touched && first_name.invalid">
                                <p class="alert alert-danger" *ngIf="first_name.errors.required">The first name of user should not be null</p>
                                <p class="alert alert-danger" *ngIf="first_name.errors.minlength">The first name of user must be greater than 2 characters</p>
                            </div>
                            <div *ngIf="last_name.touched && last_name.invalid">
                                <p class="alert alert-danger" *ngIf="last_name.errors.required">The last name of user should not be null</p>
                                <p class="alert alert-danger" *ngIf="last_name.errors.minlength">The last name of user must be greater than 2 characters</p>
                            </div>
                            <div *ngIf="username.touched && username.invalid">
                                <p class="alert alert-danger" *ngIf="username.errors.required">Username should not be null</p>
                            </div>
                            <div *ngIf="email.touched && email.invalid">
                                <p class="alert alert-danger" *ngIf="email.errors.required">Email of user should not be null</p>
                                <p class="alert alert-danger" *ngIf="email.errors.email">This is invalid email, please repeat valid email ....</p>
                            </div>
                            <div *ngIf="password.touched && password.invalid">
                                <p class="alert alert-danger" *ngIf="password.errors.required">Password of user should not be null</p>
                                <p class="alert alert-danger" *ngIf="password.errors.minlength">Password of user should contains at least 6 characters</p>
                            </div>
                            <div *ngIf="confirm_password.touched && !isMatch()">
                                <p class="alert alert-danger">Must match password</p>
                            </div>
                            <div class="extra-login">
                                <div class="login-social">
                                    <a class="fb-login" href="#" title=""><i class="fa fa-facebook"></i></a>
                                    <a class="g-login" href="#" title=""><i class="fa fa-google-plus"></i></a>
                                </div>
                                <span>Ou</span>
                            </div>
                            <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">
                                <div class="cfield">
                                    <input type="text" placeholder="Votre Nom"  required [(ngModel)]="user.firstName"
                                    name="user.firstName" #first_name="ngModel" minlength="3">
                                    <i class="la la-user"></i>
                                </div>
                                 
                                <div class="cfield">
                                    <input type="text" placeholder="Votre Prénom" required
                                    [(ngModel)]="user.lastName" name="user.lastName" #last_name="ngModel" minlength="3">
                                    <i class="la la-user"></i>
                                </div>

                                <div class="field_w_search">
                                    <select [(ngModel)]="user.gender" name="user.gender">
                                        <option value="0" selected>Homme</option>
                                        <option value="1">Femme</option>
                                    </select>
                                    <i class="la la-transgender"></i>
                                </div>

                                <div class="cfield">
                                    <input type="email" name="email" placeholder="Email" required
                                    [(ngModel)]="user.email" #email="ngModel" email="true" (blur)="generateUsername(user.email)" >
                                    <i class="la la-envelope-o"></i>
                                </div>

                                <div class="cfield">
                                    <input type="text" placeholder="Username" required
                                    [(ngModel)]="user.username" #username="ngModel" name="username">
                                    <i class="la la-user"></i>
                                </div>
                                <div class="cfield">
                                    <input type="password" name="password" placeholder="Mot de passe" required
                                    [(ngModel)]="user.password" #password="ngModel" minlength="6" >
                                    <i class="la la-key"></i>
                                </div>
                                <div class="cfield">
                                    <input type="password" name="confirmPassword" placeholder="Confirmer le mot de passe" [(ngModel)]="confirmPassword" #confirm_password="ngModel" required>
                                    <i class="la la-key"></i>
                                </div>
                                <button type="submit">S'inscrire</button>
                            </form>
                         
                        </div>
                    </div><!-- SIGNUP POPUP -->
                </div>
            </div>
        </div>
    </div>
</section>
