<div class="profile-title">
    <h3>Devenir un bricoleur</h3>
    <div class="steps-sec">
        <div class="step active">
            <p><i class="la la-info"></i></p>
            <span>Informations personnelle</span>
        </div>
        <div class="step">
            <p><i class="la la-cc-mastercard"></i></p>
            <span>Devenir bricoleur</span>
        </div>
        <div class="step">
            <p><i class="la  la-check-circle"></i></p>
            <span>Fin</span>
        </div>
    </div>
</div>
